body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
  }
  
  .center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    width: 400px;
  }
  
  .ali-logo {
    width: 100%;
    max-width: 200px;
    margin-bottom: 20px;
  }
  
  .search-bar {
    display: flex;
    flex-direction: column;
  }
  
  .search-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .search-button,
  .lucky-button {
    padding: 10px;
    font-size: 16px;
    background-color: #4285f4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .lucky-button {
    background-color: #0f9d58;
  }
  
  .search-suggestions {
    max-height: 100px;
    overflow-y: auto;
  }
  
  .suggestion {
    padding: 5px;
    cursor: pointer;
  }
  
  .search-results {
    margin-top: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li a {
    text-decoration: none;
    color: #333;
  }
  
  li a:hover {
    text-decoration: underline;
  }
  